*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior:smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color:#1f242d;
    --secon-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
}

body{
    background:var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 1rem;
}
.navbar a:hover,
.navbar a.active{
    color:var(--main-color)
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    justify-content:space-between;
    align-items: center;
    scroll-behavior: smooth;
}
.my-photo{
    width: 300px;
    height: auto;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3:nth-of-type(2)
{
    margin-bottom: 2rem;
}

span{
    color:var(--main-color)
}
.home-content p{
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight:500;
}

.social-media a{
    margin-top: 15px;
    display: inline-flex;
    border: .2rem solid var(--main-color);
    font-size:x-large;
    color: #0ef;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background:transparent;
    margin-inline: 5px;
}
.social-media a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem main;
}
.button{
    margin-top: 50px;
    padding: 5px 10px;
    font-size: large;
    font-family: cursive;
    border-radius: 5px;
    border:2px solid #0ef;
    max-width: 150px;
    color: #fff;
}
.button:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem main;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--secon-bg-color);
    scroll-behavior: smooth;
}

.about-content .button{
    margin-top: 15px;
    padding: 5px 10px;
    font-size: small;
    font-family: cursive;
    border-radius: 5px;
    border:2px solid #0ef;
    max-width: 100px;
    color:white;
}
/* .about-img{
    margin-left: 20%;
} */
.heading{
    text-align:justify;
    font-size: 4.5rem;
}
.about-content h2{
    
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}
/* .about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
} */

.tab-titles{
    display:flex;
    margin: 20px 0 40px;
}

.tab-links{
    padding-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width:25%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#0ef;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.button-1{
    margin-top: 15px;
    padding: 3px 5px;
    font-size: 10px;
    font-family: cursive;
    border-radius: 5px;
    border:2px solid #0ef;
    max-width: 100px;
    color:white;
}
.button-1:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem main;
}
.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.services-container .services-box{
    flex:0 0 35rem;
    background:var(--secon-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color); 
    transition: .5s ease;
}

.services-box i{
    font-size: 7rem;
    color:var(--main-color);
}
.services-container .services-box:hover{
    border-color:var(--main-color);
    box-shadow: 0 0 1rem main;
}
.services-container .services-box p{
    font-size: 15px;
}

/* portfolio */

.portfolio{
    background: var(--secon-bg-color);
    margin-bottom: 20px;
}
.portfolio h1{
    font-size:2.6rem;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 25px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}
.work-img{
    height: 450px;
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform(0.5s);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-size: 500;
    margin-bottom:20px;
}
.layer  a{
    margin-top:20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/* contact */
.contact{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    scroll-behavior: smooth;
}
.contact-left{
    flex-basis: 50%;
}
.contact-right{
    flex-basis: 50%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left h1{
    font-size: 2.6rem;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.contact-left p{
    font-size: 20px;
}
.contact-left p i{
    color:#ff00f4;
    margin-right: 10px;
}
.contact-right form{
    width: 100%;
}
.form input,
.form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:black;
    padding: 15px;
    margin: 15px 0;
    color: #0ef;
    font-size: 18px;
    border-radius: 6px;
}
.form .button{
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    text-align: center;
    font-size: 14px;
    background-color: var(--secon-bg-color);
    height: 20px;
    
}

nav .bx{
    display: none;
}


/* mediaquery */
@media only screen and (max-width:800px) {
    .home {
        flex-direction: column-reverse; 
        text-align: center; 
    }
    #paragraph{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .my-photo {
        margin-top: 20px; 
    }
    
    .about{
        flex-direction: column-reverse;
        text-align: center;
        left: 50%;
    }
    .home-content h3{
        font-size: 2.3rem;
    }
    .home-content h1{
        font-size: 4.3rem;
    }
    .home-content p{
        font-size: 1.5rem;
        font-weight:400;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .contact-left,
    .contact-right {
      width: 100%;
      height: 50px;
      margin-bottom: 20px;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,0.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2); 
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }


}